In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import sklearn as sk
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline
sns.set(style='white', context='notebook', palette='deep') 
import matplotlib.style as style
style.use('fivethirtyeight')


from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import GridSearchCV

# Data Scaler
from sklearn.preprocessing import StandardScaler

# Regression
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet

In [3]:
data = pd.read_csv('./nyc-rolling-sales.csv')

In [4]:
# Renaming BOROUGHS
data['BOROUGH'][data['BOROUGH'] == 1] = 'Manhattan'
data['BOROUGH'][data['BOROUGH'] == 2] = 'Bronx'
data['BOROUGH'][data['BOROUGH'] == 3] = 'Brooklyn'
data['BOROUGH'][data['BOROUGH'] == 4] = 'Queens'
data['BOROUGH'][data['BOROUGH'] == 5] = 'Staten Island'

In [5]:
# Change the settings so that you can see all columns of the dataframe when calling df.head()
pd.set_option('display.max_columns',999)
data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,10009,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,10009,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [6]:
#EASE_MEANT is empty and can be dropped
del data['EASE-MENT']

# Unnamed: 0 is an artifact from the data load and can be deleted
del data['Unnamed: 0']

In [7]:
#SALE PRICE is object but should be numeric
data['SALE PRICE'] = pd.to_numeric(data['SALE PRICE'], errors='coerce')

#LAND and GROSS SQUARE FEET is object but should be numeric
data['LAND SQUARE FEET'] = pd.to_numeric(data['LAND SQUARE FEET'], errors='coerce')
data['GROSS SQUARE FEET']= pd.to_numeric(data['GROSS SQUARE FEET'], errors='coerce')

#SALE DATE is object but should be datetime
data['SALE DATE'] = pd.to_datetime(data['SALE DATE'], errors='coerce')

#Both TAX CLASS attributes should be categorical
data['TAX CLASS AT TIME OF SALE'] = data['TAX CLASS AT TIME OF SALE'].astype('category')
data['TAX CLASS AT PRESENT'] = data['TAX CLASS AT PRESENT'].astype('category')

In [8]:
#Delete the duplicates and check that it worked
data = data.drop_duplicates(data.columns, keep='last')
sum(data.duplicated(data.columns))

0

In [9]:
data.shape

(83783, 20)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83783 entries, 0 to 84547
Data columns (total 20 columns):
BOROUGH                           83783 non-null object
NEIGHBORHOOD                      83783 non-null object
BUILDING CLASS CATEGORY           83783 non-null object
TAX CLASS AT PRESENT              83783 non-null category
BLOCK                             83783 non-null int64
LOT                               83783 non-null int64
BUILDING CLASS AT PRESENT         83783 non-null object
ADDRESS                           83783 non-null object
APARTMENT NUMBER                  83783 non-null object
ZIP CODE                          83783 non-null int64
RESIDENTIAL UNITS                 83783 non-null int64
COMMERCIAL UNITS                  83783 non-null int64
TOTAL UNITS                       83783 non-null int64
LAND SQUARE FEET                  57729 non-null float64
GROSS SQUARE FEET                 56398 non-null float64
YEAR BUILT                        83783 non-null int64
TAX CLASS AT TIME OF SALE         83783 non-null category
BUILDING CLASS AT TIME OF SALE    83783 non-null object
SALE PRICE                        69607 non-null float64
SALE DATE                         83783 non-null datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(3), int64(7), object(7)
memory usage: 12.3+ MB

In [11]:
# Remove observations with missing SALE PRICE
data = data[data['SALE PRICE'].notnull()]
len(data)

69607

In [12]:
# Remove observations that fall outside those caps
data = data[(data['SALE PRICE'] > 100000) & (data['SALE PRICE'] < 5000000)]
len(data)

54579

In [13]:
# Removes all NULL values
data = data[data['LAND SQUARE FEET'].notnull()] 
data = data[data['GROSS SQUARE FEET'].notnull()] 

# Keeps properties with fewer than 20,000 Square Feet, which is about 2,000 Square Metres
data = data[data['GROSS SQUARE FEET'] < 20000]
data = data[data['LAND SQUARE FEET'] < 20000]
len(data)

34519

In [14]:
# Only a handful of properties with 0 total units are remaining and they will now be deleted
data = data[(data['TOTAL UNITS'] > 0) & (data['TOTAL UNITS'] < 50)] 

#Remove data where commercial + residential doesn't equal total units
data = data[data['TOTAL UNITS'] == data['COMMERCIAL UNITS'] + data['RESIDENTIAL UNITS']]

In [15]:
data = data[data['YEAR BUILT'] > 0]

In [16]:
data['BUILDING AGE'] = 2017 - data['YEAR BUILT']

In [17]:
data.head(10)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING AGE
3,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,154 EAST 7TH STREET,,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23,104
6,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,210 AVENUE B,,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,2016-09-23,97
172,Manhattan,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,391,19,S3,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,2016-11-15,107
174,Manhattan,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,394,5,S5,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,2017-04-03,107
195,Manhattan,ALPHABET CITY,22 STORE BUILDINGS,4,390,34,K4,115 AVENUE C,,10009,0,1,1,1218.0,3586.0,1899,4,K4,3700000.0,2016-09-28,118
222,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,C4,219 WEST 15TH STREET,,10011,9,0,9,1566.0,6330.0,1901,2,C4,1583840.0,2017-08-31,116
223,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,C4,219 WEST 15TH STREET,,10011,9,0,9,1566.0,6330.0,1901,2,C4,416790.0,2017-08-31,116
224,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,C4,219 WEST 15TH STREET,,10011,9,0,9,1566.0,6330.0,1901,2,C4,630370.0,2017-08-31,116
233,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,790,63,C1,148 WEST 15TH STREET,,10011,8,0,8,2000.0,4100.0,1910,2,C1,3485000.0,2016-12-05,107
234,Manhattan,CHELSEA,08 RENTALS - ELEVATOR APARTMENTS,2B,695,6,D6,559 WEST 23RD STREET,,10011,6,1,7,2469.0,19892.0,2014,2,D6,4600000.0,2016-11-29,3

In [22]:
data['SALE YEAR'] = data['SALE DATE'].dt.year.astype(str)
data['SALE MONTH'] = data['SALE DATE'].dt.month.astype(str)

In [23]:
columns = ['BOROUGH', 'LOT', 'COMMERCIAL UNITS','GROSS SQUARE FEET', 'BUILDING CLASS CATEGORY',
       'BUILDING AGE', 'LAND SQUARE FEET', 'RESIDENTIAL UNITS', 'TAX CLASS AT TIME OF SALE', 'SALE YEAR', 'SALE MONTH', 'SALE PRICE' ]
data_model = data.loc[:,columns]
# data['BUILDING CLASS AT TIME OF SALE']
# len(data['BUILDING CLASS AT TIME OF SALE'].unique())
# data.shape

In [24]:
#Select the variables to be one-hot encoded
one_hot_features = ['BOROUGH', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT TIME OF SALE', 'SALE YEAR', 'SALE MONTH']

# For each categorical column, find the unique number of categories. This tells us how many columns we are adding to the dataset.
longest_str = max(one_hot_features, key=len)
total_num_unique_categorical = 0
for feature in one_hot_features:
    num_unique = len(data[feature].unique())
    print('{col:<{fill_col}} : {num:d} unique categorical values.'.format(col=feature, 
                                                                          fill_col=len(longest_str),
                                                                          num=num_unique))
    total_num_unique_categorical += num_unique
print('{total:d} columns will be added during one-hot encoding.'.format(total=total_num_unique_categorical))

BOROUGH                   : 5 unique categorical values.
BUILDING CLASS CATEGORY   : 31 unique categorical values.
TAX CLASS AT TIME OF SALE : 3 unique categorical values.
SALE YEAR                 : 2 unique categorical values.
SALE MONTH                : 12 unique categorical values.
53 columns will be added during one-hot encoding.

In [25]:
# Convert categorical variables into dummy/indicator variables (i.e. one-hot encoding).
one_hot_encoded = pd.get_dummies(data_model[one_hot_features])
one_hot_encoded.info(verbose=True, memory_usage=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29638 entries, 3 to 84545
Data columns (total 54 columns):
BOROUGH_Bronx                                                           29638 non-null uint8
BOROUGH_Brooklyn                                                        29638 non-null uint8
BOROUGH_Manhattan                                                       29638 non-null uint8
BOROUGH_Queens                                                          29638 non-null uint8
BOROUGH_Staten Island                                                   29638 non-null uint8
BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS                         29638 non-null uint8
BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                         29638 non-null uint8
BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                       29638 non-null uint8
BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                           29638 non-null uint8
BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                      29638 non-null uint8
BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                          29638 non-null uint8
BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS                  29638 non-null uint8
BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS                29638 non-null uint8
BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                    29638 non-null uint8
BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS                  29638 non-null uint8
BUILDING CLASS CATEGORY_11A CONDO-RENTALS                               29638 non-null uint8
BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                   29638 non-null uint8
BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS                 29638 non-null uint8
BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                          29638 non-null uint8
BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL               29638 non-null uint8
BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      29638 non-null uint8
BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                             29638 non-null uint8
BUILDING CLASS CATEGORY_22 STORE BUILDINGS                              29638 non-null uint8
BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                               29638 non-null uint8
BUILDING CLASS CATEGORY_26 OTHER HOTELS                                 29638 non-null uint8
BUILDING CLASS CATEGORY_27 FACTORIES                                    29638 non-null uint8
BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                            29638 non-null uint8
BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                           29638 non-null uint8
BUILDING CLASS CATEGORY_30 WAREHOUSES                                   29638 non-null uint8
BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                       29638 non-null uint8
BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES               29638 non-null uint8
BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                       29638 non-null uint8
BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES        29638 non-null uint8
BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                         29638 non-null uint8
BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                            29638 non-null uint8
BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                          29638 non-null uint8
TAX CLASS AT TIME OF SALE_1                                             29638 non-null uint8
TAX CLASS AT TIME OF SALE_2                                             29638 non-null uint8
TAX CLASS AT TIME OF SALE_3                                             29638 non-null uint8
TAX CLASS AT TIME OF SALE_4                                             29638 non-null uint8
SALE YEAR_2016                                                          29638 non-null uint8
SALE YEAR_2017                                                          29638 non-null uint8
SALE MONTH_1                                                            29638 non-null uint8
SALE MONTH_10                                                           29638 non-null uint8
SALE MONTH_11                                                           29638 non-null uint8
SALE MONTH_12                                                           29638 non-null uint8
SALE MONTH_2                                                            29638 non-null uint8
SALE MONTH_3                                                            29638 non-null uint8
SALE MONTH_4                                                            29638 non-null uint8
SALE MONTH_5                                                            29638 non-null uint8
SALE MONTH_6                                                            29638 non-null uint8
SALE MONTH_7                                                            29638 non-null uint8
SALE MONTH_8                                                            29638 non-null uint8
SALE MONTH_9                                                            29638 non-null uint8
dtypes: uint8(54)
memory usage: 1.8 MB

In [26]:
#Delete the old columns...
data_model = data_model.drop(one_hot_features, axis=1)

#...and add the new one-hot encoded variables
data_model = pd.concat([data_model, one_hot_encoded], axis=1)
data_model.head()

,LOT,COMMERCIAL UNITS,GROSS SQUARE FEET,BUILDING AGE,LAND SQUARE FEET,RESIDENTIAL UNITS,SALE PRICE,BOROUGH_Bronx,BOROUGH_Brooklyn,BOROUGH_Manhattan,BOROUGH_Queens,BOROUGH_Staten Island,BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS,BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS,BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND,BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER,BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_11A CONDO-RENTALS,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT,BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL,BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS,BUILDING CLASS CATEGORY_22 STORE BUILDINGS,BUILDING CLASS CATEGORY_23 LOFT BUILDINGS,BUILDING CLASS CATEGORY_26 OTHER HOTELS,BUILDING CLASS CATEGORY_27 FACTORIES,BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS,BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES,BUILDING CLASS CATEGORY_30 WAREHOUSES,BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND,BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES,BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES,BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES,BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES,BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES,BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER,TAX CLASS AT TIME OF SALE_1,TAX CLASS AT TIME OF SALE_2,TAX CLASS AT TIME OF SALE_3,TAX CLASS AT TIME OF SALE_4,SALE YEAR_2016,SALE YEAR_2017,SALE MONTH_1,SALE MONTH_10,SALE MONTH_11,SALE MONTH_12,SALE MONTH_2,SALE MONTH_3,SALE MONTH_4,SALE MONTH_5,SALE MONTH_6,SALE MONTH_7,SALE MONTH_8,SALE MONTH_9
3,21,0,6794.0,104,2272.0,10,3936272.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
6,32,0,4226.0,97,1750.0,8,3192840.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
172,19,1,3360.0,107,1520.0,3,3300000.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
174,5,1,3713.0,107,1779.0,5,4750000.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
195,34,1,3586.0,118,1218.0,0,3700000.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [27]:
data_model.to_csv('out_dummy1.csv')